body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.header {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.title {
  color: #fff;
  font-size: 18px;
  text-align: center;
  flex-grow: 1;
}

form {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin-top: 100px;
  position: relative;
  text-align: left;
  font-size: large;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 30px;
  color: #555;
  width: 100%;
  padding-left: 20px;
}

input[type="text"],
textarea {
  width: 95%;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 20px;
  outline: none;
}

button[type="submit"] {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border-color: black;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.password-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-button img {
  height: 20px;
}

.error-message {
  background-color: red;
  color: white;
  font-size: 24px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 9999;
  border-radius: 5px;

}

button[type="submit"] + .error-message {
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
